<footer class="fixed bottom-0 left-0 z-10 flex w-[100%] justify-center">
	<div
		class="animated_stripes align-center flex w-[100%] max-w-[448px] gap-3 border-t-2 border-[#F2E8CF] bg-[#9C4035] p-2.5 pl-6"
	>
		<img src="/images/shared/ig_logo.svg" alt="Instagram Logo" />
		<h1 class="font-work-sans text-xl text-white">ise.games</h1>
	</div>
</footer>
