<footer
	class="align-center absolute right-0 bottom-0 left-0 mx-auto flex max-w-[448px] gap-3 border-t-2 border-[#012D48] bg-[#D9CDAF] p-2.5"
>
	<img src="../images/shared/ig_logo.png" />
	<h1 class="text-xl">@ise.games</h1>
</footer>
