---
import HamburgerMenu from './hamburger_menu.astro'
// Change header name according to the path
const path = Astro.url.pathname
let headerName = ''

if (path.includes('/schedule')) {
	headerName = 'Schedule'
} else if (path.includes('/scoreboard')) {
	headerName = 'Scoreboard'
} else if (path.includes('/betting')) {
	headerName = 'Betting'
} else if (path === '/') {
	headerName = 'Home'
} else {
	headerName = 'ISE Games'
}
---

<header
	class="animated_stripes border-b-2 border-[#F2E8CF] bg-[#9C4035] p-6.25"
>
	<div class="flex w-full items-center justify-between">
		<!-- ISESC Logo -->
		<a href="https://isesc.chula.engineering/" target="_blank">
			<img
				class="order-1 h-[50px] w-[50px] rounded-full"
				src="/images/shared/isesc_logo_reversed.svg"
				alt="ISESC Logo"
			/>
		</a>
		<!-- Page Title -->
		<h1 class="font-libre-bold order-1 text-3xl text-white">
			{headerName}
		</h1>
		<!-- Hamburger Menu -->
		<div class="relative order-3">
			<HamburgerMenu />
		</div>
	</div>
</header>
