<div class="mt-4 mb-4 justify-items-center">
	<!-- Schedule -->
	<div class="flex items-center space-x-4">
		<img src="../images/home/schedule_icon.svg" />
		<a
			class="h-12.5 w-[180px] rounded-2xl bg-[#012D48] p-2 text-center text-2xl text-[#F2E8CF]"
			href="/schedule">Schedule</a
		>
	</div>

	<!-- Scoreboard -->
	<div class="flex items-center space-x-4">
		<a
			class="h-12.5 w-[180px] rounded-2xl bg-[#012D48] p-2 text-center text-2xl text-[#F2E8CF]"
			href="/scoreboard">Scoreboard</a
		>
		<img src="../images/home/scoreboard_icon.svg" />
	</div>

	<!-- Removed: Betting -->
	<!-- <div class="flex items-center space-x-4">
		<img src="../images/home/betting_icon.svg" />
		<a
			class="h-12.5 w-[180px] rounded-2xl bg-[#012D48] p-2 text-center text-2xl text-[#F2E8CF]"
			href="/betting">Betting</a
		>
	</div> -->
</div>
