<div class="relative mt-25">
	<img
		class="animated_heart absolute inset-x-0 h-full w-auto object-cover"
		src="../images/home/star_vector.svg"
	/>
	<img class="relative" src="../images/home/ise games logo.webp" />
</div>
<div class="mt-20 mb-60 flex flex-col items-center justify-center">
	<h1 class="text-[#012D48]">Scroll Down</h1>
	<svg class="h-auto w-10" viewBox="0 0 100 60">
		<path
			d="M20 10 L50 40 L80 10"
			stroke="#012D48"
			stroke-width="5"
			fill="none"
			stroke-linecap="round"
			stroke-linejoin="round"></path>
		<path
			d="M20 30 L50 60 L80 30"
			stroke="#012D48"
			stroke-width="5"
			fill="none"
			stroke-linecap="round"
			stroke-linejoin="round"></path>
	</svg>
</div>
