---
import Layouts from '../../layouts/layouts.astro'
---

<Layouts>
	<h1>Schedule</h1>
	<a href="/schedule/male/futsal">Male</a>
	<a href="/schedule/female/futsal">Female</a>
	<a>Mixed</a>
</Layouts>

<!-- <script>
	setTimeout(() => {
		window.location.href = '/schedule/male/futsal'
	}, 0)
</script> -->
